/node_modules
/public/hot
/public/storage
/public/images
server/public/images
react-frontend/public/images/

/storage/*.key
/vendor
/builds
.env
/.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.xlsx
