body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.createPostForm{
color:white;
  text-align: left;
  margin: 0 auto;
  width: 80%;
 
}
.createPostFormMain{
  padding-top: 5%;
  padding-bottom: 11%;
  background-color: #3b657a;
 
}
.PostMainPage{
  padding-top: 1%;
  padding-bottom: 11%;
  background-color: #3b657a;
 
}

.title{
     width: 20%;
    text-align: left;
    padding-left: 5% !important; ;
}
.description{
     width: 30%;
    text-align: left;
}
.postImage{
  text-align:center;
  width: 250px;
}
.postDate{
  text-align: center;
    width: 200px;
}
.deleteIcon >span{
      color: red;
        font-size: 16px;
        
}
.deleteIcon>span:hover {
  cursor: pointer;

}